<section>
  <mat-card>
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>{{ recipeItem.recipeName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center">
      <p>{{ recipeItem.content }}</p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <a mat-button color="primary" [routerLink]="['/edit', recipeItem.id]" fxFlex>EDIT</a>
      <button mat-button color="warn" (click)="onDelete(recipeItem.id)" fxFlex>DELETE</button>
    </mat-card-actions>
  </mat-card>
</section>
